.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  flex-grow: 1;
  margin: 1rem;
  display: flex;
  height: 200px;
  width: 200px;
  color: white;
  background: darkslategrey;
  justify-content: around;
  align-items: around;
  border-radius: 20px;
  flex-direction: column;
}
.card > p {
  margin: auto auto;
  font-size: 1rem;
}
.top {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}
.top > p {
  font-size: 2rem;
}
