.App {
  font-family: sans-serif;
}

.scores {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.assignment h4 {
  margin: 5px;
}

.title {
  text-align: center;
  color: #61dbfb;
}

.student {
  border: 1px solid black;
  margin: 5px 0;
}

h2 {
  text-align: center;
  text-decoration: underline;
  margin: 10px;
}

p {
  text-align: justify;
  width: 95%;
  margin-left: 2.5%;
}

h3 {
  text-align: center;
}

hr {
  width: 95%;
  /* border: none; */
  border-color: transparent;
  background-color: gray;
}

.assignment {
  border: 1px solid black;
}
